
@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-thin.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-thinoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-thinoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-thinitalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-extralight.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-extralightoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-extralightoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-extralightitalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-light.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-lightoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-lightoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-lightitalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-regular.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-oblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-oblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-italic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-medium.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-mediumoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-mediumoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-mediumitalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-semibold.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-semiboldoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-semiboldoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-semibolditalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-bold.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-boldoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-boldoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-bolditalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-extrabold.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-extraboldoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-extraboldoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-extrabolditalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-seranna-tm26-heavy.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-seranna-tm26-heavyoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('woff2/iosevka-seranna-tm26-heavyoblique.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Seranna TM26 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-seranna-tm26-heavyitalic.woff2') format('woff2'), url('ttf/iosevka-seranna-tm26-heavyitalic.ttf') format('truetype');
}
