/*
	Table of Contents

	[GLVA]	Global Variables
	[NAVI]	Header > Navi
	[PGTL]	Page Title
	[COCO]	Content > Collapsibles
*/

/* ----------------------------- */
/* -= [GLVA] Global Variables =- */
/* ----------------------------- */

:root {
	/* Styling Colours */

	--blue: #50ffff;
	--carbonBlack: #212121;
	--midnightBlack: #0a0a0a;
	--hoverBlack: #383838;
	--pink1: #ff5085;
	--pink2: #f26995;
	--green: #9fff50;
	--orange: #ff9f50;
	--yellow: #ffd350;

	/*  */
}

/* --------------------- */
/* -= Global Elements =- */
/* --------------------- */
 
body {
	align-items: center;
	background: repeating-linear-gradient(
		135deg,
		#070707,
		#070707 5px,
		var(--midnightBlack) 5px,
		var(--midnightBlack) 10px
	);
	background-color: var(--midnightBlack);
	background-attachment: fixed;
	color: #ffffff;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	min-width: 480px;
}

/* Box-Sizing */ 

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Input */

select, input [type=button], 
			  [type=number], 
			  [type=reset], 
			  [type=submit], 
			  [type=text],
			  [type=password],
			  [type=email] {
	background: var(--midnightBlack);
	border: none;
	color: var(--green);
	font-family: Share Tech Mono, monospace;
	font-size: 16px;
	padding: 2px;
}

input[type=button], [type=reset], [type=submit] {
	background: #343434;
	border: none;
	color: var(--blue);
	font-family: "Share Tech Mono", monospace;
	font-size: 16px;
	padding: 10px;
	text-transform: uppercase;
}

/* Lists */

ul.no-bullet-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/* Tables */

table {
	border-collapse: collapse;
}

td, th {
	padding: 8px;
	text-align: left;
}

th {
	background-color: var(--blue);
	color: var(--carbonBlack);
}

tr:nth-child(even) {
	background-color: rgb(255,255,255,0.2);
}

tr:nth-child(odd) {
	background-color: rgb(0,0,0,0.4);
}

/* Text Selection */

::selection {
	background: var(--pink2); 
	color: var(--carbonBlack);
}

::-moz-selection {
	background: var(--pink2);
	color: var(--carbonBlack);
}

/* ------------ */
/* -= Header =- */
/* ------------ */

/*
/* Image */

div.image-header {
	margin: 30px auto 30px auto;
	max-width: 1024px;
	min-width: 480px;
}

img.header { 
	/* (for use inside div.imageHeader only. image size 1024x100) */
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
	width: auto;
}

/* [NAVI] Navigation Bar */

.mainNavi {
    position: sticky;
    top: 0;
	transition: 0.4s;

    /* Disable Text Selection */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.mainNavi li {
    float: left;
    text-decoration: none;
}

.ulNavi li a {
	border-bottom: none;
    color: white;
    text-decoration: none;
}

.ulNavi {
	border-bottom: 5px solid var(--orange);
	max-width: 1024px;
	min-width: 480px;
    display: flex;
	list-style-type: none;
	margin: 30px auto 30px auto;
	background-color: var(--carbonBlack);
	padding: 0;
}

.title {
    background-color: var(--carbonBlack);
    font-weight: bold;
    font-size: 21px;
    display: block;
    color: var(--orange);
	text-align: center;
	padding: 9px 36px 9px 36px;
}

.item {
    display: block;
    color: white;
	text-align: center;
	padding: 12px 18px 12px 18px;
	transition: 0.4s;
}

.mainNavi .item:hover, .mainNavi .dropbtn:hover {
    color: var(--orange);
    background-color: var(--hoverBlack);
	transition: 0.4s;
}

li.dropdown {
	display: inline-block;
}

.dropbtn {
    display: block;
	text-align: center;
	padding: 12px 18px 12px 18px;
	transition: 0.4s;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--carbonBlack);
	min-width: 160px;
	transition: 0.4s;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: 0.4s;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: var(--hoverBlack);
}

.mainNavi .dropdown-content :hover {
	background-color:var(--hoverBlack);
	color: var(--green);
	transition: 0.4s;
}

/* ----------------------- */
/* -= [PGTL] Page Title =- */
/* ----------------------- */

div.page-title {
	background-image: linear-gradient(#191919 21px, var(--carbonBlack));
	border-top: 5px solid var(--pink2);
	max-width: 1024px;
	margin: 30px auto 30px auto;
	padding: 10px 10px 10px 20px;
}

h1 {
	/* for use inside div.pageTitle */
	color: var(--pink2);
}

h2 {
	color: var(--blue);
	font-weight: normal;
}

/* ------------- */
/* -= Content =- */
/* ------------- */

.content-body {
	background-image: linear-gradient(#191919, var(--carbonBlack));
	border-top: 5px solid var(--blue);
	margin: 30px auto 30px auto;
	max-width: 1024px;
	min-width: 480px;
	padding: 10px 10px 60px 10px;
}

/* Blockquotes */

blockquote {
	border-left: 0.125em solid var(--blue);
	margin-left: 10px;
}

blockquote p {
	padding-left: 10px;
}

blockquote q {
	font-size: 1.125em;
	font-style: italic;
	font-weight: bold;
}

blockquote cite {
	font-style: normal;	
}

/* [COCO] Collapsibles */

.collapsible-main-container {
	box-shadow: 5px 5px 8px var(--midnightBlack);
}

.collapsible-title {
	background-color: var(--midnightBlack);
	cursor: pointer;
	font-size: 18px;
	padding: 18px;
	width: 100%;
	text-align: left;
	transition: 0.4s;
	outline: none;

    /* Disable Text Selection */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.cencol {
	border-bottom: 5px solid #d4df38;
	color: #d4df38;
}

.uoft {
	border-bottom: 5px solid #7ba4d9;
	color: #7ba4d9;
}

.active, .collapsible-title:hover {
	background-color: var(--hoverBlack);
	transition: 0.4s;
}

.collapsible-title:after {
	content: '\02795';
	float: right;
	margin-left: 5px;
}

.active:after {
	content: '\2796';
}

.collapsible-content-container {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
	background-color: var(--midnightBlack);
}

.collapsible-header {
	background-color: var(--midnightBlack);
	border-bottom: 1px solid white;
	color: var(--blue);
	cursor: default;
	font-size: 18px;
	padding: 12px 0 12px 24px;
	transition: 0.4s;

}

.collapsible-content {
	border-bottom: 1px solid white;
	cursor: pointer;
	padding: 18px;
	transition: 0.4s;
}

.collapsible-content:hover {
	background-color: var(--hoverBlack);
	transition: 0.4s;
}

/* Links */

a, a:visited {
	border-bottom-style: solid;
	border-width: thin;
	color: #ffffff;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.18s;
}

a:hover {
	color: var(--green);
	transition: 0.4s;
}

a:active {
	color: var(--pink2);
	transition-duration: 0s;
}

/* Text Selection */

content ::selection {
	background: var(--blue);
	color: var(--carbonBlack);
}

content ::-moz-selection {
	background: var(--blue);
	color: var(--carbonBlack);
}

/* ------------ */
/* -= Footer =- */
/* ------------ */

.footer-content {
	background-image: linear-gradient(#191919, var(--carbonBlack));
	background-color: var(--carbonBlack);
	border-top: 5px solid var(--pink2);
	border-top-style: solid;
	border-width: 5px;
	color: var(--pink2); 
	font-size: 0.8125em;
	max-width: 1024px;
	margin: 30px auto 40px auto;
	padding: 10px 10px 10px 10px;
}

/* Links */

.footer-content a, .footer-content a:visited {
	color: var(--pink2);
}

.footer-content a:hover{
	color: #ffffff;
}

.footer-content a:active {
	color: var(--pink2);
}

/**
 * 
 * trentb10 (ﾉ◕ヮ◕)ﾉ*:・ﾟ✧
 * 
 */